@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section class="vh-80 gradient-custom">
    <div class="container py-2 h-80">
        <div class="row d-flex justify-content-center align-items-center h-80">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form id="account" method="post" class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-outline form-floating form-white mb-4">
                                <input type="email" id="typeEmailX" class="form-control form-control-lg text-center" asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Enter Email..." />
                                <label asp-for="Input.Email" for="typeEmailX" class="text-dark"></label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-outline form-floating form-white mb-4">
                                <input placeholder="Enter password..." type="password" id="typePasswordX" class="form-control form-control-lg text-center" asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
                                <label asp-for="Input.Password" for="typePasswordX" class="text-dark"></label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-outline-light btn-lg px-5" id="login-submit" type="submit">Log in</button>
                            </div>
                            <br />
                            <div>
                                <p>
                                    <a class="text-white-50 small mb-5 pb-lg-2" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a class="text-white-50 small mb-5 pb-lg-2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                </p>
                                <p>
                                    <a class="text-white-50 small mb-5 pb-lg-2" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>
                            </div>
                        </form>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
